.movie-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 70%;
}

@media screen and (max-width: 768px) {
    .movie-card{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 426px) {
    .movie-card{
        grid-template-columns: repeat(2, 1fr);
        gap:25px;
        padding-left: 15px;
    }
}