.card{
    width: 170px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    transition: all 0.5ms ease-in;
}

.card:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: all 0.5ms ease-in;
}

.card__img{
    width: 120px;
    border-radius: 10px;
}

.card__title{
    font-weight: bold;
    text-align: center;
}

.card__genre{
    display: flex;
    gap: 6px;
    opacity: 0.6;
}

.card__genre p{
    margin: 0;
}

.card__vote{
    margin: 0;
    display: flex;
    align-items: center;
}
